$text-main: #000000DE;
$text-default: #00000094;
$text-light: #0000005E;

$white: #ffffff;

$primary-color: #DF1CC5;
$secondary-color: #FE1390;

$gradient: radial-gradient(circle at 90%, $secondary-color, $primary-color);